workflows/n8n/linear-comment-marker-to-event-queue.json
{
  "name": "SV Terminal - Linear comment marker to event queue",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "teamId": "REPLACE_WITH_APCC_TEAM_ID",
        "resources": [
          "comment"
        ]
      },
      "id": "linear-trigger-issue-comment",
      "name": "Linear Trigger - Issue Comment",
      "type": "n8n-nodes-base.linearTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\nconst data = event.data || event;\nconst comment = data.comment || event.comment || data;\nconst issue = data.issue || event.issue || comment.issue || {};\nconst user = data.user || event.user || data.actor || event.actor || comment.user || {};\nconst commentBody = comment.body || data.body || event.body || '';\nconst markerMatch = String(commentBody).match(/\\[SV_APPROVAL\\s+([^\\]]+)\\]/);\nif (!markerMatch) return [{ json: { shouldQueue: false, reason: 'not an approval marker' } }];\nconst attrs = Object.fromEntries([...markerMatch[1].matchAll(/([A-Za-z_][A-Za-z0-9_]*)=([^\\s]+)/g)].map((m) => [m[1], m[2]]));\nif (attrs.decision !== 'approved' || !String(attrs.target || '').startsWith('proposal:') || !attrs.action_id) return [{ json: { shouldQueue: false, reason: 'not an approved proposal marker' } }];\nconst issueIdentifier = issue.identifier || data.issueIdentifier || event.issueIdentifier || issue.key;\nif (!issueIdentifier) throw new Error('Linear issue identifier missing');\nconst commentId = comment.id || data.id || event.id || '';\nreturn [{ json: { shouldQueue: true, row: { event_id: `evt_linear_${issueIdentifier}_${attrs.action_id}`.replace(/[^A-Za-z0-9_-]/g, '_'), created_at: new Date().toISOString(), updated_at: new Date().toISOString(), source: 'linear', source_event_id: String(event.webhookTimestamp || event.createdAt || event.updatedAt || event.id || commentId), linear_issue_id: issue.id || data.issueId || event.issueId || '', linear_issue_identifier: issueIdentifier, linear_comment_id: commentId, tenant_key: '', tenant_project_id: '', type: 'linear_marker_detected', status: 'queued', priority: 2, actor_kind: 'linear_user', actor_id: user.id || data.userId || event.userId || '', dedupe_key: `linear:${issueIdentifier}:${attrs.action_id}`, payload_json: JSON.stringify({ action_id: attrs.action_id, marker_type: 'SV_APPROVAL', target: attrs.target, decision: attrs.decision }), attempts: 0, claimed_by: '', claimed_at: '', lease_until: '', last_error: '', result_linear_comment_id: '', processed_at: '' } } }];"
      },
      "id": "normalize-marker",
      "name": "Normalize approval marker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldQueue }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-queueable",
      "name": "Queueable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_SV_TERMINAL_EVENTS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "sv_terminal_events"
        },
        "filters": {
          "conditions": [
            {}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $json.row.event_id }}",
            "created_at": "={{ $json.row.created_at }}",
            "updated_at": "={{ $json.row.updated_at }}",
            "source": "={{ $json.row.source }}",
            "source_event_id": "={{ $json.row.source_event_id }}",
            "linear_issue_id": "={{ $json.row.linear_issue_id }}",
            "linear_issue_identifier": "={{ $json.row.linear_issue_identifier }}",
            "linear_comment_id": "={{ $json.row.linear_comment_id }}",
            "tenant_key": "={{ $json.row.tenant_key }}",
            "tenant_project_id": "={{ $json.row.tenant_project_id }}",
            "type": "={{ $json.row.type }}",
            "status": "={{ $json.row.status }}",
            "priority": "={{ $json.row.priority }}",
            "actor_kind": "={{ $json.row.actor_kind }}",
            "actor_id": "={{ $json.row.actor_id }}",
            "dedupe_key": "={{ $json.row.dedupe_key }}",
            "payload_json": "={{ $json.row.payload_json }}",
            "attempts": "={{ $json.row.attempts }}",
            "claimed_by": "={{ $json.row.claimed_by }}",
            "claimed_at": "={{ $json.row.claimed_at }}",
            "lease_until": "={{ $json.row.lease_until }}",
            "last_error": "={{ $json.row.last_error }}",
            "result_linear_comment_id": "={{ $json.row.result_linear_comment_id }}",
            "processed_at": "={{ $json.row.processed_at }}"
          },
          "matchingColumns": [
            "dedupe_key"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "upsert-event-row",
      "name": "Upsert sv_terminal_events row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        840,
        -80
      ]
    },
    {
      "parameters": {},
      "id": "ignore-non-queueable",
      "name": "Ignore non queueable comment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        120
      ]
    }
  ],
  "connections": {
    "Linear Trigger - Issue Comment": {
      "main": [
        [
          {
            "node": "Normalize approval marker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize approval marker": {
      "main": [
        [
          {
            "node": "Queueable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queueable?": {
      "main": [
        [
          {
            "node": "Upsert sv_terminal_events row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore non queueable comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "sanitized",
  "triggerCount": 1,
  "tags": []
}
